<div class='mainHeader'>
  <div class='header'>
    <div class='title_logo'>
      <img src="./../../assets/citi.png" width="80" height="80">
      <h1>CoAX Application</h1>
    </div>
    <div class='user_date'>
      <h3 style="margin-right: 10px;">28/07/2021</h3>
      <h3>Welcome, user</h3>
    </div>
  </div>
  <div class='headerMenu'>
    <p-menubar [model]="items">
      <ng-template pTemplate="start">
          <img src="assets/showcase/images/primeng.svg" height="40" class="p-mr-2">
      </ng-template>
  </p-menubar>
  </div>
</div>

